div {
    outline:1px
        ;
}

body{
    background-color:#441e13;
    color: white;
}

.logocontainer {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;   
    /*  makes the div grow to accommodate float child elements  */
}

.logo {
    width:205px;
    float:left;
    color: white;
    font-size:2.5rem;
    font-weight:bold;
}

.slogan {
    width:300px;
    float:left;
    color: #946c60;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 18px;
}

.nav{
    background-color: #39180f;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 920px;
}

.nav ul{
    padding: 18px 10px;
    list-style-type: none;
}

.nav li{
    border-right: 1px solid #D4B364;
    display: black;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
}

.nav li:last-child{
    border-right: none;
}

.aboutarea{
    background-color: #87a984;
    max-width: 920px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.paperplane{
    width: 160px;
    float: left;
    height: 152px;
    padding: 30px;
}

.about{
    width:700px;
    float:left;
    color: white;
    font-size:3rem;
    font-weight:bold;
    margin-top: 40px;
}

.abouttext{
    width:430px;
    float:left;
    color: #f0eed9;
    font-size: 1rem;
    font-family: sans-serif;
    padding-top: 10px;
    font-weight: 100;
}

.bottomarea{
    max-width: 920px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.leftnav {
    background-color: #96afac;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 20px;
    float: left;
}

.leftnav ul{
    padding: 18px 10px;
    list-style-type: none;
}

.leftnav li{
    border-right: 1px solid #D4B364;
    display: black;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
}

.leftnav li:last-child{
    border-right: none;
}
.howwework{
    width: 680px;
    float: left;
    padding: 6px 20px;
    font-family: sans-serif;
}