body{
    background-color: #15384E;
    margin: 0;
    width: auto;
    height: auto;
}

div{
    outline: 1px solid yellow;
}

.header{
    background-color:#15384E;
    height: 63px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    float: left;
    width: 213px;
    height: 63px;
    margin-left: 20px;
}

.links{
    float: right;
    height: 43px;
    margin-right: 20px;
    padding-top: 20px;
}

.links a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;

}

.links a:hover{
    color: skyblue;
}



/* HOME PAGE */

.banner{
    float: left;
    height: 600px;
    width: 100%;
    overflow:hidden;
    margin:0;
}

.banner img{
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.img1{
    width: 33.33%;
    height: auto;
    float: left;
    color: yellow;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-image: url(img/product.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 180px;
}

.img1 img{
    width: 100%;
    float: left;
    object-fit: cover;
}
.textoverlay{
    margin-top:50px;
}

.img2{
    width: 33.33%;
    height: auto;
    float: left;
    color: yellow;
    text-align: center;
}

.img2 img{
    width: 100%;
    float: left;
    object-fit: cover;
}

.img3{
    width: 33.33%;
    height: auto;
    float: left;
    color: yellow;
    text-align: center;
}

.img3 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.footer{
    float: left;
    width: 100%;
    padding-top: 50px;
}

.quote{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-left: 60px;
    padding-right: 60px;
}




/* PRODUCTS */

.productp{
    float: left;
    background-color: turquoise;
    width: 50%;
    height: 20px;
}

.sparks a{
    background: black;
    color: white;
    padding: 14px 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
}

.productt{
    float: left;
    background-color: antiquewhite;
    width: 50%;
    height: auto;
}

.sparks a{
    background: black;
    color: white;
    padding: 14px 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
}


/* OUR TEAM */




/* CONTACT */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img1{height:100px;}
    .textoverlay{
        margin-top:20px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .img1{height:200px;}
    .textoverlay{
        margin-top:50px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .img1{height:300px;}
    .textoverlay{
        margin-top:100px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img1{height:400px;}
    .textoverlay{
        margin-top:200px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){.img1{height:100px;}
}