div{
    outline:
}

.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.header1{
    background-color: blue;
    height: 150px;
    width: 460px;
    float: left;
}

.header2{
    background-color: blue;
    height: 150px;
    width: 460px;
    float: left;
}

.middle{
    background-color: lime;
    height: 150px;
    float: left;
    width: 920px;
}

.bottom{
    background-color: red;
    height: 500px;
    float: left;
}

.box1{
    background-color: yellow;
    width: 175px;
    height: 175px;
    float: left;
    margin-left: 45px;
    margin-top: 50px;
}

.box2{
    background-color: yellow;
    width: 175px;
    height: 175px;
    float: left;
    margin-left: 45px;
    margin-top: 50px;
}

.box3{
    background-color: yellow;
    width: 175px;
    height: 175px;
    float: left;
    margin-left: 45px;
    margin-top: 50px;
}

.box4{
    background-color: yellow;
    width: 175px;
    height: 175px;
    float: left;
    margin-left: 45px;
    margin-top: 50px;
}

.box5{
    background-color: yellow;
    width: 395px;
    height: 175px;
    float: left;
    margin-left: 45px;
    margin-top: 50px;
}

.box6{
    background-color: yellow;
    width: 395px;
    height: 175px;
    float: left;
    margin-left: 45px;
    margin-top: 50px;
}